QTabWidget::tab-bar {
    alignment: center;
}

QTabWidget::pane {
    border: none;
    border-radius: 0px;
    border-top:2px solid rgb(180, 180, 180);
    padding-top: 1.5em;
    position: absolute;
    top: -0.8em;
    padding-top: 0.8em;
}

/*QTabBar*/

QTabBar::tab:right {
    font: 14px "微软雅黑";
    width: 25px;
    height: 80px;
    color: red;
}

QTabBar::tab:hover{
    color: black;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,  stop:0 #9ba8e0, stop:0.5 #42a8e0, stop:1 #9ba8e0);
}

QTabBar::tab:hover:!selected{
    padding-bottom: 0.1em;
    height: 17px;
}

QTabBar::tab:hover:selected{
    padding-bottom: 0.1em;
    height: 25px;
}

QTabBar::tab:disabled{
    background-color: #f0f0f0;
    color: #afafaf;
}

QTabBar::tab:disabled:selected{
    background-color: #f0f0f0;
    color: #afafaf;
}

QTabBar::tab:selected{
    font: bold;
    color: white;
    height: 23px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,  stop:0 #91c0e0, stop:0.5 #2c8ecf, stop:1 #91c0e0);
}

QTabBar::tab:!selected{
    margin-top: 5px;
}

