


QTabWidget::pane {
    border: none;
    border-radius: 0px;
    border-top:2px solid rgb(180, 180, 180);
    padding-top: 1.5em;
    position: absolute;
    top: -0.8em;
    padding-top: 0.8em;
    background: rgb(242,242,242);
}

QTabBar::tab:right {
    font: 17pt "微软雅黑";

background-color:rgb(0,169,157);
}

QTabBar::tab:hover{
    color: black;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,  stop:0 #9ba8e0, stop:0.5 #42a8e0, stop:1 #9ba8e0);
}

QTabBar::tab:selected{
    font: bold;
    color: #00a99d;
    background-color: #f2f2f2;
}

QTabBar::tab:hover:!selected{
/*    padding-right: 4px; 不能用padding*/
}
/*
QTabBar::tab:hover:selected{
    padding-bottom: 0.1em;
    height: 25px;
}

QTabBar::tab:disabled{
    background-color: #f0f0f0;
    color: #afafaf;
}

QTabBar::tab:disabled:selected{
    background-color: #f0f0f0;
    color: #afafaf;
}


QTabBar::tab:!selected{
    margin-top: 5px;
}
*/
